.report-placeholder.active {
	color: var(--ml-light);
}

.badge-form {
	display: flex;
	flex-direction: column;
	gap: 3em;
}

.badge-container {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	gap: 1em;
}

.badge {
	width: fit-content;
}

.badge:hover {
	transform: translateY(-10%);
	opacity: 0.9;
}

.report-submit.report-add {
	right: 3em;
}

@media (max-width: 768px) {
	.badge {
		width: fit-content;
		font-size: var(--md-text);
	}

	.badge:hover {
		transform: translateY(0);
		opacity: 1;
	}

	.report-submit.report-add {
		right: 3em;
	}
}
