.report-placeholder.active {
	color: var(--ml-light);
}

.badge-form {
	display: flex;
	flex-direction: column;
	gap: 3em;
}

.badge-container {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	gap: 1em;
}

.badge {
	width: fit-content;
}

.badge:hover {
	transform: translateY(-10%);
	opacity: 0.9;
}

.report-submit.report-add {
	right: 3em;
}
