.time-form {
	position: relative;
	width: 100%;
}

.start-time {
	width: 100%;
	border: none;
}

.react-time-picker__wrapper {
	position: relative;
	border: none;
}

.react-time-picker__wrapper:after {
	content: '';
	position: absolute;
	bottom: 0;
	display: block;
	height: 5px;
	width: 100%;

	background: -webkit-linear-gradient(
		left,
		var(--ml-dark) 0%,
		var(--ml-light) 50%,
		var(--ml-dark) 100%
	);
	border-radius: 10px;

	transition: all 0.5s ease-in-out;
}

.react-time-picker__inputGroup {
	border: none;
}

.react-time-picker__inputGroup__input {
	border: none;
}
