.link-container {
	width: 100%;

	background-color: var(--accent);
	border-top-right-radius: 30px;
	border-bottom-left-radius: 30px;
	box-shadow: var(--small-shadow);

	display: flex;
	align-items: center;

	text-decoration: none;

	transition: all 0.125s ease-in-out;
	overflow: hidden;
}

.link-container:hover {
	opacity: 0.9;
	transform: scale(1.05);
}

.link-icon {
	width: 30%;
	height: 100%;
	padding: 1em;
	background-color: var(--text-color);

	display: flex;
	justify-content: center;
	align-items: center;

	border-top-right-radius: 30px;
	border-bottom-left-radius: 30px;

	box-shadow: var(--simple-shadow);
}

.link-icon svg {
	font-size: var(--xl-text);
	color: var(--main-dark);
}

.link-title {
	padding: 1em;
	width: 70%;

	display: flex;
	justify-content: center;
	align-items: center;
}

.link-title h3 {
	font-size: var(--md-text);
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;
}

@media (max-width: 768px) {
	.link-container {
		justify-content: space-between;
	}

	.link-container:hover {
		opacity: 1;
		transform: scale(1);
	}

	.link-icon {
		width: 30%;
	}

	.link-icon svg {
		font-size: var(--md-text);
	}

	.link-title {
		width: 70%;
	}

	.link-title h3 {
		font-size: var(--s-text);
		text-align: end;
	}
}
