@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Oswald:wght@400;700&display=swap');

:root {
	/** COLORS **/
	--main-light: #f9e7e7;
	--main-dark: #2f2f2f;
	--text-color: rgb(253, 255, 252);
	--ml-dark: rgb(115, 33, 129);
	--ml-light: rgb(98, 170, 71);
	--accent: rgb(48, 131, 220);
	--danger: rgb(255, 36, 0);

	/** TEXT **/
	--base-font-size: 18px;
	--main-font: 'Lato', sans-serif;
	--secondary-font: 'Oswald', sans-serif;
	--xl-text: 3rem;
	--lg-text: 2rem;
	--md-text: 1rem;
	--s-text: 0.85rem;
	--xs-text: 0.65rem;

	/** UTILITY **/
	--simple-shadow: 5px 5px 5px rgba(25, 19, 8, 0.5);
	--small-shadow: 3px 3px 3px 0px rgba(25, 19, 8, 0.5);
}

@media (max-width: 768px) {
	:root {
		/** TEXT **/
		--base-font-size: 16px;
	}
}
