.page {
	width: 100%;
	min-height: 100vh;
	height: 100%;

	background-color: var(--main-dark);
	padding: 1em;

	display: flex;
	flex-direction: column;
	gap: 3em;
	align-items: center;
	justify-content: center;
}
