.link-container {
	position: relative;

	padding: 1em 3em;
	display: flex;
	align-items: center;
	gap: 2em;
	background-color: var(--accent);

	border-top-right-radius: 50px;
	border-bottom-left-radius: 50px;
	overflow: hidden;
}

.link-icon {
	position: absolute;
	left: 0;
	width: 30%;
	height: 100%;
	background-color: var(--text-color);
	display: flex;
	justify-content: center;
	align-items: center;

	border-top-right-radius: 50px;
	border-bottom-left-radius: 50px;
}

.link-icon svg {
	font-size: 3rem;
	color: black;
}

.link-title {
	font-size: 1.5rem;
	padding: 1em;
	text-align: center;

  transform: translateX(20%);
}
